.history-card-warper {
  display: flex;
  flex-wrap: wrap;
}

.history-header {
  background-color: #03203c;
  min-width: 80vw;
  display: flex;
  align-items: center;
  padding: 1rem;
  min-height: 5vh;
}

.flex-align-center {
  display: flex;
  height: 60vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
}

.btn-align-end {
  margin-left: auto;
  margin-right: 10vw;
}
.history-card {
  margin: 2rem;
  padding-bottom: 1rem;
  min-width: 21vw;
  height: 35vh;
  background: lightblue;
  margin: 1rem !important;
}
.history-card:hover {
  transform: translateY(-0.5vmax);
  box-shadow: 2px 4px 8px blueviolet;

  transition: all 0.4s;
}
.history-header-h2 {
  color: white;
  margin-left: 10vh;
  padding: 1rem;
  font-size: 2.5rem;
}
.info {
  display: flex;
}

.info-left {
  margin-left: 1rem;
}
.info-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}
.history-delete-btn {
  font-size: 2.5rem;
  color: red;
}
