* {
  box-sizing: border-box;
}
.watchVideo {
  display: flex;
  max-width: 100vw;
}
.video-detail {
  max-width: 70vw;
  min-width: 70vw;
  background-color: whitesmoke;
}
.similar-video {
  max-width: 30vw;
  /* min-width: 30vw; */
}
.align-auth-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
