.home-chip-wrapper {
  min-height: 8vh;
  /* background-color: #e03b8b; */
  background-color: #11144a;
  display: flex;
  align-items: center;

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.home-chip {
  background-color: #5b65f1;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem 1rem;
  padding: 0.9rem 0.6rem;
  cursor: pointer;
  border-radius: 1.6rem;
  border: none;
}
.home-chip-selected,
.home-chip:hover {
  background-color: #E03B8B;
}
.home-chip-selected {
  background-color: #E03B8B !important;
  font-weight: 500;
}
