.videoDetail {
  /* min-width: 70vw; */
}
.videoDetail-short {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

.videoDetail-action-btn {
  /* margin-left: auto; */
}
.views {
  color: orange;
  font-size: 1.8rem;
}
.upload-date {
  margin-right: 1rem;
  color: grey;
  font-size: 1.6rem;
}
/*  */
.channel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.channel-name {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 800;
  font-size: 2rem;
  color: orangered;
  text-transform: uppercase;
}
/*  */
.video-description {
  margin: 2rem;
  margin-left: 4rem;
  align-items: center;
  font-size: 1.6rem;
  color: #242b2e;
  /* background-color: red; */
}
.icon {
  font-size: 2.4rem;
  color: darkorchid;
  margin: 0 1rem;
  cursor: pointer;
}
