.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0.3rem;
}
.btn-lg {
  padding: 0.55rem 1.25rem;
}
.btn-info {
  background-color: var(--color-info);
  transition: all 0.7s;
  color: white;
  font-size: large;
}
.btn-danger {
  background-color: var(--color-danger);
  transition: all 0.7s;
  color: white;
  font-size: large;
}
.btn-danger-light {
  background-color: #e6425e;
  transition: all 0.7s;
  color: white;
  font-size: large;
}
.btn-danger-light:hover {
  background-color: #b9345a;
}
.btn-success {
  background-color: #02b290;
  transition: all 0.7s;
  color: white;
  font-size: large;
}
.btn-space {
  background-color: var(--color-space);
}
.btn-outline-success {
  font-weight: bold;
  color: var(--color-sucess);
  border: solid 2px var(--color-sucess);
}
.btn-outline-danger {
  font-weight: bold;
  color: var(--color-danger);
  border: solid 2px var(--color-danger);
  transition: all 0.7s;
}
.btn-outline-wait {
  font-weight: bold;
  color: var(--color-wait);
  border: solid 2px var(--color-wait);
}
.btn-round {
  border-radius: 2rem !important;
}
/* link */
.btn-link {
  text-align: center;
}
/* floating */
.btn-floating {
  border-radius: 50%;
}
/* hover  */
.btn-space:hover {
  background-color: #207398;
}

.btn-info:hover {
  background-color: skyblue;
  transition: all 0.7s;
}
.btn-success:hover {
  background-color: #50dbb4;
  transition: all 0.7s;
}
.btn-danger:hover {
  background-color: #ef5354;
  transition: all 0.7s;
}

.btn-outline-success:hover {
  background-color: var(--color-sucess);
  color: white;
  transition: all 0.7s;
}
.btn-outline-wait:hover {
  background-color: var(--color-wait);
  transition: all 0.7s;
  color: white;
}
.btn-outline-danger:hover {
  background-color: var(--color-danger);
  transition: all 0.7s;
  color: white;
}
/* ctn btn */

.login-cta {
  margin-top: 1rem;
}
.ctn-btn {
  background-color: #202eee;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 24px;

  padding: 1rem 1.2rem;

  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.ctn-btn-pay {
  margin: 1rem;
  background-color: #02b290;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 24px;

  padding: 1rem 1.2rem;

  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ctn-btn:hover {
  background-color: #3944f7;
  transform: translateY(-2px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ctn-btn-pay:hover {
  background-color: #1faa59;
  transform: translateY(-2px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
