/* text style */
.heading {
  color: #3944f7;
  text-shadow: 1px 1px 1px blueviolet;
  text-transform: capitalize;
  font-size: 3.7rem;
  font-family: cursive;
  margin: 0 1rem;
  text-align: center;
}

.subheading {
  color: #3944f7;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: capitalize;
  margin: 1rem;
  text-align: center;
  font-family: monospace;
}
.subheading-green {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
  color: #02b290;
  font-family: cursive;
  text-transform: capitalize;
}
.content {
  width: 80%;
  margin: 1rem auto;
  color: var(--color-text-content);
  font-size: 1.4rem;
  font-family: serif;
}
/* text size  */
.text-sm {
  font-size: 1.4rem;
}
.text-xmd {
  font-size: 1.8rem;
}
.text-md {
  font-size: 2rem;
}
.text-lg {
  font-size: 2.5rem;
}
.bold-100 {
  font-weight: 100;
}
.bold-200 {
  font-weight: 200;
}
.bold-300 {
  font-weight: 300;
}
.bold-400 {
  font-weight: 400;
}
.bold-500 {
  font-weight: 500;
}
.bold-600 {
  font-weight: 600;
}
.bold-700 {
  font-weight: 700;
  color: red;
}
.bold-900 {
  font-weight: 900;
}
.bold-700 {
  font-weight: 700;
  color: red;
}
.text-center {
  text-align: center;
}
.text-black {
  color: black;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-16 {
  margin-top: 1.6rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mr-10 {
  margin-right: 1rem;
}
.ml-10 {
  margin-left: 1rem;
}
.p-10 {
  padding: 1rem;
}
.divider-tb-10 {
  margin: 1rem 0rem;
}
.divider-b-10 {
  color: rgb(163, 125, 125);
  margin: 0rem 0rem 1rem 0rem;
  width: 30%;
}
.ml-10h {
  margin-left: 10vh;
}
.p-1 {
  padding: 1rem;
}
.flex-center-single-item {
  display: flex;
  justify-content: center;
}
