.navbar-warpper {
  display: flex;

  padding: 1rem;
  flex-wrap: wrap;
  background-color: black;
  color: wheat;
  min-height: 13vh;
  font-size: 2.3rem;
}
.navbar-left {
  margin-left: 1rem;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  flex: 1.3;
}
.navbar-search {
  display: flex;
  margin-left: 1rem;
  padding: 0.4rem;
}
.navbar-search-btn {
  padding: 0.4rem;
}
.navbar-link {
  margin-left: 0.8rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.navbar-link-icon {
  margin: 0rem 0.8rem;
  font-size: 2rem;
  color: white;
}
.nav-theme-link {
  font-size: 2rem;
}
.navbar-search-input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
}
.relative {
  position: relative;
}
.badge-counter {
  position: absolute;
  background-color: red;
  right: -8px;
  top: -7px;
  font-size: 18px;
  padding: 0rem 0.2rem;
}
.btn-auth {
  color: white;
  background-color: #758283;
  font-size: 18px;
  padding: 0.4rem;
  border-radius: 1rem;
}
